---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
   imagePath: string;
   altText: string;
   name: string;
   age: number;
}

const { imagePath, altText, name, age } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<div class="card">
    <h2>{name}</h2>
    <p>Edad: {age}</p>
    <Image src={images[imagePath]()} alt={altText} />
</div>
<div class="card-product">
	<div class="container-img">
		<!--<img src="../../public/images/tour-taquile.jpg" alt="Tour Taquile">-->
		<Image src={images[imagePath]()} alt={altText} />
		<span class="discount">-10%</span>
		<div class="button-group">
			<span><i class="fa-regular fa-eye"></i></span>
			<span><i class="fa-regular fa-heart"></i></span>
			<span><i class="fa-solid fa-code-compare"></i></span>
		</div>
	</div>
	<div class="content-card-product">
		<div class="stars">
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-regular fa-star"></i>
		</div>
		<h3>Tour Taquile</h3>
		<span class="add-cart"><i class="fa-solid fa-basket-shopping"></i></span>
		<p class="price">$50 <span>$55</span></p>
	</div>
</div>

<style>
</style>
